select.form-select {
	cursor: pointer;
}

.input-group .input-group-text span {
	color: red;
}

.paymentStandard-container {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#printForm {
  display: none;
}

/* Print CSS */
@media print {
	.form-inputs,
	.make-select,
	#electricUtilities,
	#additionalUtilities,
	#startOver,
	#printForm,
  #backToTop {
		display: none !important;
	}
}
