input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select.form-select {
	cursor: pointer;
}

.input-group .input-group-text span {
	color: red;
}

.paymentStandard-container {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Print CSS */
@media print {
	.form-inputs,
  #backToTop {
		display: none !important;
	}

  fieldset h4+h4 {
    margin-top: 1rem;
  }
}
